
/* 
    Created on : 26-feb-2017, 18:38:12
    Author     : david
*/


div table td
{
   padding-left: 50px;
   padding-top: 10px;
}

div table input 
{
    width: 225px;
    height: 50px;
}

#relleno {
    
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #269abc;
    margin: 0 auto;
}

.titulo
{
    font-family: serif;
    font-size:50px;
    color: #c8e5bc;
    
}

#principal
{
    width: 700px;
    border: 1px solid #000000;
    margin: 0 auto;
    height: 100px;
    text-align: center;
}

input[type=number]
{
    width: 100px !important;
    height: 35px !important;
}

input[type=text]
{
    width:  100px !important;
    height: 35px !important;
}

.pie_1
{
    width: 1240px;
    height: 80px;
    background-color: grey;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.pie_2 
{
    padding-bottom: 5px;
}

#boton_1
{
    float: right;
    margin-left: 900px;
    margin-right: 5px;
}